<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>


<h1 class="menu-title">Postres (Desserts)</h1>

<%= image_tag 'dessert.jpg', class: 'menu-photo' %>

<div class="container">
  <div class="row">
  <% @desserts.each do |dessert| %>

    <div class="col-sm-6 col-lg-4">
      <div class="card text-center">
        <div class="card block">
          <h4 class="card-title"><%= dessert.title %>    $<%= dessert.price %></h4>
          <p class="card-text"><%= dessert.description %></p>
        </div>
      </div>
    </div>
  <% end %>
</div>
</div>
