<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>


<h1 class="menu-title">Postres (Desserts)</h1>


  <% @desserts.each do |dessert| %>
  <table class="menu">
    <tr>
      <th><p class="card-title"><%= dessert.title %></p></th>
      <th><p class="price">$<%= dessert.price %></p></th>
    </tr>
    <tr>
      <th ><p class="description"><%= dessert.description %></p></th>
    </tr>
  </table>
  <% end %>
