<h1>Cerdo (Pork)</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Description</th>
      <th>Price</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @porks.each do |pork| %>
      <tr>
        <td><%= pork.title %></td>
        <td><%= pork.description %></td>
        <td><%= pork.price %></td>
      </tr>
    <% end %>
  </tbody>
</table>