<h1>Bebidas (Drinks)</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Description</th>
      <th>Price</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @drinks.each do |drink| %>
      <tr>
        <td><%= drink.title %></td>
        <td><%= drink.description %></td>
        <td><%= drink.price %></td>
      </tr>
    <% end %>
  </tbody>
</table>