<h1>Fajitas</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Description</th>
      <th>Price</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @fajitas.each do |fajita| %>
      <tr>
        <td><%= fajita.title %></td>
        <td><%= fajita.description %></td>
        <td><%= fajita.price %></td>
      </tr>
    <% end %>
  </tbody>
</table>