<p id="notice"><%= notice %></p>

<h1>Favorite Dips</h1>
<h4> Served With Tri-Color Tortilla Chips</h4>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Description</th>
      <th>Price</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @dips.each do |dip| %>
      <tr>
        <td><%= dip.title %></td>
        <td><%= dip.description %></td>
        <td><%= dip.price %></td>
      </tr>
    <% end %>
  </tbody>
</table>
