@import "bootstrap";
@import 'slick';
@import 'slick-theme';


body {
    background: black; 
    /* For browsers that do not support gradients */

    background: -webkit-linear-gradient(#672e11, black); 
    /* For Safari 5.1 to 6.0 */

    background: -o-linear-gradient(#672e11, black); 
    /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#672e11, black); 
    /* For Firefox 3.6 to 15 */
    
    background: linear-gradient(#672e11, black); /* Standard syntax */

}


h1, h2, h3, h4, h5, h6, p, a {
  color: white;
}

.btn {
    padding: 14px 24px;
    border: 0 none;
    font-weight: 700;
    letter-spacing: 1px;
    text-transform: uppercase;
}

.btn:focus, .btn:active:focus, .btn.active:focus {
    outline: 0 none;
}

.btn-primary {
    background: black;
    color: #ffffff;
}

.btn-warning {
    background: black;
    color: white;
}

.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active, .open > .dropdown-toggle.btn-primary {
    background: #33a6cc;
}

.btn-primary:active, .btn-primary.active {
    background: #007299;
    box-shadow: none;
}

#nav-link {
	color: white;
}

#title {
	padding-top: 20px;
	padding-bottom: 20px;
}

.card {
    background: none;
    }

.menu-head {
  font: 100 40px/1.5 'Pacifico', Helvetica, sans-serif;
  color: white;
  text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;
  background: black;
  text-align: center;
  padding-top: 15px;
  padding-bottom: 15px;
  letter-spacing: 2px;
}

.card-title {
   font: 100 30px/1.5 Times New Roman;
   text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;
   letter-spacing: 3px;
    color: white;
    padding-left: 15px;

}

.card-text {
    font: 100 20px/1.5 Times New Roman;
    color: white;
    padding-left: 25px;

}

.card-footer {
  color: white;
}

form {
    padding-left: 25px;
}

.apply {
    padding-top: 25px;
    padding-left: 25px;
}

#logo {
    margin-top: 50%;
    padding-left: 75px;
}

.menu-title {
    font: 100 60px/1.5 'Pacifico', Helvetica, sans-serif;
    color: white;
    text-shadow: -2px 0 white, 0 2px white, 2px 0 white, 0 -2px white;
    background: black;
    text-align: center;
    letter-spacing: 2px;
}

.logo {
  padding-top: 25px;
  }


.carousel {
    padding-top: 25px;
}

.col-md-6 {
  padding-bottom: 15px;
}

.col-sm-6 {
  padding-bottom: 15px;
}


.column {
  width: 50%;
  padding-right: 4px;
}

.menu {
  width: 100%;
  background: none;
  padding-left: 10px;
}

.price {
  color: white;
  padding-right: 25px;
  text-align: right;
}

.description {
  color: white;
  padding-left: 25px;
}

.michelada {
  color: white;
  background: black;
  text-align: center;
  font: 100 30px/1.5 'Pacifico', Helvetica, sans-serif;

}

.wine {
  width: 70%;
}

.glass {
  color: white;
  padding-right: 5px;
  text-align: right;
  width: 15%;
}

.bottle {
  color: white;
  text-align: right;
  width: 15%;
}

th {
  padding-left: 10px;
}

label {
  color: white;
}


#address {
  text-align: center;
  padding-top: 50px;
  padding-bottom: 50px;
}


#nav-address {
  text-align: center;
  padding-top: 5px;
  padding-bottom: 5px;
  background: #672e11;
}

#nacho {
  text-align: center;
}

.soup {
  width: 100%;
}

.soup-name {
  width: 85%;
}

.cup {
  width: 7.5%;
  text-align: right;
}

.bowl {
  width: 7.5%;
  text-align: right;
}

.row {
  margin-right: 0;
}

nav {
  padding-right: 30px;
}