@import "bootstrap";
@import 'slick';
@import 'slick-theme';


body {

  padding-right: 10px;
  padding-left: 10px;
    background: black; 
    /* For browsers that do not support gradients */

    background: -webkit-linear-gradient(#672e11, black); 
    /* For Safari 5.1 to 6.0 */

    background: -o-linear-gradient(#672e11, black); 
    /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#672e11, black); 
    /* For Firefox 3.6 to 15 */
    
    background: linear-gradient(#672e11, black); /* Standard syntax */

}


h1, h2, h3, h4, h5, h6, p, a {
  color: white;
}

.btn {
    padding: 14px 24px;
    border: 0 none;
    font-weight: 700;
    letter-spacing: 1px;
    text-transform: uppercase;
}

.btn:focus, .btn:active:focus, .btn.active:focus {
    outline: 0 none;
}

.btn-primary {
    border-radius: 25px;
    background: black;
    color: #ffffff;
}

.btn-warning {
    border-radius: 25px;
    background: dimgrey;
    color: white;
}

.btn-warning:hover {
  background: darkgrey;
  color: white;
}

.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active, .open > .dropdown-toggle.btn-primary {
    background: #33a6cc;
}

.btn-primary:active, .btn-primary.active {
    background: #007299;
    box-shadow: none;
}

#nav-link {
	color: white;
}

.navlogo {
  height: 50px;
}

#title {
	padding-top: 20px;
	padding-bottom: 20px;
}

.card {
    background: none;
    border: 0 none;
    }

  .dropdown-item {
  background: black;
  color: white;
}

.dropdown-menu {
  background: black; 
}

.menu-head {

  font: 100 30px/1.5 'Pacifico', Helvetica, sans-serif;
  color: white;
  text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;
  background: black;
  text-align: center;
  margin-top: 15px;
  margin-bottom: 15px;
  letter-spacing: 2px;
  border-radius: 25px;
}

.card-title {
   font: 100 30px/1.5 Helvetica;
   text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;
   letter-spacing: 3px;
    color: white;
    padding-left: 15px;

}

.card-text {
  text-align: center;
    font: 100 20px/1.5 Helvetica;
    color: white;
    padding-left: 25px;

}

.card-footer {
  color: white;
}

form {
    padding-left: 25px;
}

.apply {
    padding-top: 25px;
    padding-left: 25px;
}


.menu-title {
  border-radius: 25px;
    font: 100 40px/1.5 'Pacifico', Helvetica, sans-serif;
    color: white;
    background: black;
    text-align: center;
    letter-spacing: 2px;
    margin-top: 10px;
}

.logo {
  padding-top: 25px;
  }


.carousel {
    padding-top: 15px;
}



.col-md-6 {
  padding-bottom: 15px;
}

.col-sm-6 {
  padding-bottom: 15px;
}


.column {
  width: 50%;
  padding-right: 4px;
}

.menu {
  width: 100%;
  background: none;
  padding-left: 10px;
}

.price {
  color: white;
  padding-right: 25px;
  text-align: right;
}

.description {
  color: white;
  padding-left: 25px;
}

.michelada {
  color: white;
  background: black;
  text-align: center;
  font: 100 30px/1.5 'Pacifico', Helvetica, sans-serif;

}

.wine {
  width: 70%;
}

.glass {
  color: white;
  padding-right: 5px;
  text-align: right;
  width: 15%;
}

.bottle {
  color: white;
  text-align: right;
  width: 15%;
}

th {
  padding-left: 10px;
}

label {
  color: white;
}


#address {
  text-align: center;
  padding-top: 50px;
  padding-bottom: 50px;
}


#nav-address {
  text-align: center;
  padding-top: 5px;
  padding-bottom: 5px;
  background: #672e11;
}


#nacho {
  text-align: center;
  padding-top: 25px;
}

.soup {
  width: 100%;
}

.soup-name {
  width: 85%;
}

.cup {
  width: 7.5%;
  text-align: right;
}

.bowl {
  width: 7.5%;
  text-align: right;
}

.row {
  margin-right: 0;
}


.img-fluid {
  height: 350px;
  border: solid 3px;
  border-color: #797979;
}

.menu-photo {
  border: solid 3px;
  border-color: #797979;
  height: 350px;
}

.menu-group {
  height: 200px;
  border: solid 3px;
  border-color: #797979;
}

.logo-home {
  width: 100%;
}

.footer-logo {
  width: 85%;
}

.hours {
  padding-top: 10px;
}

.btn-danger {
border-radius: 25px;
  background: black;
}

.btn-danger:hover {
  background: dimgrey;
}

.card-block-menu {
  background: none;
  padding-top: 15px;
}


.app-inst {
  text-align: center;
  padding-bottom: 10px;
}

.mayan-head {
  background: #181617;
  font: Helvetica;
}

#myBtn {
    display: none; /* Hidden by default */
    position: fixed; /* Fixed/sticky position */
    bottom: 20px; /* Place the button at the bottom of the page */
    right: 30px; /* Place the button 30px from the right */
    z-index: 99; /* Make sure it does not overlap */
    border: none; /* Remove borders */
    outline: none; /* Remove outline */
    background-color: red; /* Set a background color */
    color: white; /* Text color */
    cursor: pointer; /* Add a mouse pointer on hover */
    padding: 15px; /* Some padding */
    border-radius: 10px; /* Rounded corners */
}

#myBtn:hover {
    background-color: #555; /* Add a dark-grey background on hover */
}

#home-photo {
  width: 100%;
  height: 750px;
}

#apply-btn {
  margin-bottom: 15px;
}

.slide {
  position: relative;
}

.slide__caption {
  font: 100 45px/1.5 'Oswald', sans-serif;
  color: white;
  font-weight: bold;
  bottom: 0;
  min-height: 50%;
  left: 0;
  position: absolute;
  width: 100%;
  text-size-adjust: 45%;
  z-index: 2;
}

.top-logo {
  width: 30%
}

@media only screen and (max-width: 800px) {
  #home-photo {
  width: 100%;
  height: auto;
  }
  .img-fluid {
  height: 300px;
  }
}

.top-menu {
  width: 100%;
  border: solid 3px;
  border-color: #797979;

}